@model LoginModel

@{
	ViewData["Title"] = "Sign In";
}

<h1>Sign in</h1>

<form asp-controller="Account" method="post" asp-action="SignIn">
	<div asp-validation-summary="All"></div>
	<div>
		<label class="form-label" asp-for="Login"></label>
		<input class="form-control" name="Login" asp-for="Login" />

		<label class="form-label" asp-for="Password"></label>
		<input class="form-control" name="Password" asp-for="Password" type="password" />


		<br />
		<button type="submit" class="btn btn-primary mb-3">Send</button>
	</div>
</form>


